<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Category</title>
  </head>
  <body>
    <h1>Add New Category</h1>
    <form method="POST">
      {% csrf_token %}
      <label for="category_name">Category Name:</label>
      <input type="text" name="category_name" id="category_name" required />
      <br />
      <label for="category_description">Description:</label>
      <textarea
        name="category_description"
        id="category_description"
      ></textarea>
      <br />
      <button type="submit">Add Category</button>
    </form>
    <p><a href="{% url 'view_all_categories' %}">Back to Categories</a></p>
  </body>
</html>
