<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Supplier</title>
  </head>
  <body>
    <h1>
      Are you sure you want to delete supplier - {{ supplier.company_name }}?
    </h1>
    <p>Contact Info: {{ supplier.contact_info }}</p>

    <form method="POST">
      {% csrf_token %}
      <button type="submit">Yes, delete</button>
    </form>

    <a href="{% url 'view_all_suppliers' %}">Back to Suppliers</a>
  </body>
</html>
